@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;

  background: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  min-height: 100%;
  margin: 0;
}

.header-logo {
  top: 0;
  position: absolute;
}

.page-header {
  color: #000000;
  display: flex;
  padding: 0 70px;
  align-items: center;
  position: relative;
  z-index: 2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: RGB(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.page-navigation-list {
  display: flex;
  margin: 0;
  margin-left: 169px;
  flex-wrap: wrap;
}

.user-navigation {
  margin-left: auto;
}
.page-navigation-item{
  position: relative;
}

.user-navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
}

.user-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 64px;
}

.numder-favorite::after{
  content: "12";
background: RGB(125, 181, 79);
border-radius: 50%;
min-width: 20px;
min-height: 20px;
position: absolute;
left: 20px;
top: 11px;
font-weight: 400;
font-size: 10px;
line-height: 10px;
text-align: center;
color: RGB(255, 255, 255);
padding: 5px;
}

.user-navigation-item{
position: relative;
}

.user-navigation-item .popup {
  margin-left: 20px;
}
.popup:hover{
  background: #615048;
}
.popup:focus{
  background: #615048;
}
.popup:active{
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.popup:disabled{
  background: #E5E5E5;
}

.hotel-card-button-more:hover{
  background: #615048;
}
.hotel-card-button-more:focus{
  background: #615048;
}
.hotel-card-button-more:active{
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-card-button-more:disabled{
  background: #E5E5E5;
}

.page-navigation-link {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
  display: block;
  min-width: 44px;
  padding: 20px 16px;
}
.page-navigation-link-now::before {
  content: "";
  position: absolute;
  left: 15px;
  right: 16px;
  bottom: -1px;
  border: 1px solid rgb(117, 98, 87);

}

.popup {
  background: #756157;
  font-weight: 700;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-flex;
  padding: 8px 34px;
}

.sedona-welcome {
  background-image: url(../images/index/hero/index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 51px;
}

.sedona-welcome:after {
  content: "";
  display: block;
  background: url(../images/index/hero/stair.svg);
  background-repeat: no-repeat;

  min-height: 57px;
}

.sedona-welcome-wrapper-img {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.about-sedona {
  text-align: center;
  padding: 69px 0;
}

.about-sedona-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.about-sedona-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-top: 25px;
}

.go-to-sedona {
  text-align: center;
  padding: 64px 0;
}

.go-to-sedona-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.go-to-sedona-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-top: 20px;
}

.benefit {
  text-align: center;
  margin-top: 21px;
}

.benefit-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.benefit-item {
  min-height: 385px;
  width: 400px;
}

.benefit-item:nth-child(4n + 1) {
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color: #82b3d3;
}

.benefit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.benefit-item:nth-child(2n) {
  background: rgba(131, 179, 211, 0.12);
}

.benefit-item:nth-child(3n) {
  background: rgba(131, 179, 211, 0.2);
}
.benefit-item.conteiner-benefit-item:nth-child(3n) {
  padding: 112px 85px;
}

.benefit-item.conteiner-benefit-item:nth-child(2n) {
  padding: 112px 85px;
}

.benefit-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}
.benefit-subtitle {
  margin: 0;
}

.benefit-title:after {
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  margin: 30px auto;
}
.decoration-light::after {
  background: rgba(255, 255, 255, 0.3);
}

.conteiner-benefit-item {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
  flex-shrink: 0;
}

.list-none {
  list-style-type: none;
  padding-left: 0;
}


.services-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 85px;
  text-align: center;
}

.services-list {
  display: flex;
}

.services-title {
  margin: 30px 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-item:nth-child(2n + 1) {
  background: rgba(131, 179, 211, 0.12);
}

.trip-date-sedona {
  text-align: center;
  padding: 96px 0 96px 0;
}

.trip-date-sedona.popup {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  box-sizing: border-box;
  padding: 8px 50px;
  width: 376px;
  background: #756157;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 54px;
}

.trip-date-sedona-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.trip-date-sedona-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 20px 0 54px 0;
}

.subscribe {
  background-image: url(../images/subscribe/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe-catolog {
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe-catolog-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}

.subscribe-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.subscribe-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 54px;
}

.trip-date-sedona-link {
  font-size: 20px;
  line-height: 36px;
  align-items: center;
padding: 8px 50px;
gap: 10px;


width: 376px;
height: 52px;
left: calc(50% - 376px/2);
top: calc(50% - 52px/2 + 81px);
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}
.page-footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer-social-link svg :hover{
  fill: #68A2CA;
}

.page-footer-social-link svg :focus{
  fill: #68A2CA;
}
.page-footer-social-link svg :active{
  fill: rgba(104, 162, 202, 0.3);
}
.page-footer-academy-link :hover  path {
  fill:  #756157;;
}

.page-footer-academy-link :focus  path {
  fill: #756157
}

.page-footer-academy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.page-footer-phone-link:hover{
  color: #756157;
}

.page-footer-phone-link:focus{
  color: #756157;
}

.page-footer-phone-link:active{
  color: rgba(117, 97, 87, 0.3);
}


.page-footer-social {
  width: 142px;
  height: 40px;
}

.page-footer-social-item {
  padding: 0 10px;
  gap: 10px;
  width: 47px;
  height: 40px;
  display: flex;
}

.page-footer a {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.page-footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}
.check{
padding-left: 26px;
}

.check-input{
  -webkit-appearance:none ;
  -moz-appearance:none ;
  position:absolute;
}

.check-box-icon{
  position: absolute;
  width: 20px;
  height: 20px;
  background-image:url(../images/catolog/filter/check-box.svg) ;
  cursor: pointer;
  margin-left: -26px;
  margin-top: 1px;
}


/* checked*/
.check-input:checked + .check-box-icon {
  background-image:url(../images/catolog/filter/checkbox-checked.svg) ;

}

.catalog-form-filter .type-infrastructure{
  margin-right: 71px;
}

.catalog-form-filter .type-home{
  margin-right: 69px;
}

.radio-check{
  padding-left: 36px;
  }

  .real-radio{
    -webkit-appearance:none ;
    -moz-appearance:none ;
    position:absolute;
  }

  .raido-check-box-icon {
    position: absolute;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-image: url("../images/catolog/filter/radio-box.svg");
    cursor: pointer;
    margin-left: -36px;
    margin-top: 1px;
}


  /* checked*/
  .real-radio:checked + .raido-check-box-icon {

    background-image: url("../images/catolog/filter/radio.svg");


  }

  .range-scale {
    position: relative;
    height: 0;
    margin-top: 44px;
    border: 2px solid rgba(255, 255, 255, 0.3);

  }

  .range-bar {
    position: absolute;
    height: 3px;
    background-color: #FFFFFF;


    top: -1px;
  }

  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;

    cursor: pointer;
    border: none;
  }
  .toggle-min {
    top: -9px;
    left: -13px;
}

.toggle-max {
  top: -9px;
  right: -16px;
}

  .range-toggle:hover {
    background-color: #68a2ca;
  }

  .range-toggle:active,
  .range-toggle:focus {
    outline: 3px solid #82b3d3;
  }


.subscribe-form {
  margin: 0;
  margin-top: 54px;
  display: flex;
}
.submit-button {
  margin-bottom: 32px;
}

.subscribe-form-button {
  font-weight: 700;
  color: #ffffff;
  background: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  border: none;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  cursor: pointer;
}

.subscribe-form-button:hover{
  background: #68A2CA;
}
.submit-button:hover{
  background: #68A2CA;
}

.subscribe-form-button:active{
  color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
}
.submit-button:active{
color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
}
.subscribe-form-button:disabled{
  background: #E5E5E5;
}
.submit-button:disabled{
  background: #E5E5E5;
}
.btn {
  font-weight: 700;
  color: #ffffff;
  background: #82b3d3;
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;
}

.main-price {
  display: flex;
  flex-direction: row;

  margin-top: 16px;
}
.main-price-for {
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 143px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  margin-right: -3px;
}
.main-price-for::placeholder{
  color: #000000;
}



.main-price-for-placeholder{
  position: absolute;
  color: #000000;

line-height: 24px;
opacity: 0.3;
top: 13px;
    right: 165px;
}
.main-price-to {
  background: #f2f2f2;
  border-radius: 0 4px 4px 0;
  border: none;
  width: 143px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  color: #000000;
}

.main-price-to::placeholder{
  color: #000000;
}

.main-price-wrapper{
position: relative;
}

.main-price-to-placeholder{
  position: absolute;
  color: #000000;
line-height: 24px;
opacity: 0.3;
top: 13px;
    right: 20px;
}
.main-buttons {
  display: flex;
  flex-direction: column;
  align-self: end;
  margin-left: auto;
  margin-top: 56px;
}

.main-buttons .btn {
  padding: 8px 50px;
  min-width: 191px;
  min-height: 36px;
}

.subscribe-form-text {
  display: block;
  box-sizing: border-box;
  width: 452px;
  height: 52px;
  padding: 12px 20px;
  border: 0;
  color: #000000;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.catolog-main {
  flex-grow: 1;
}

.catolog-main-container {
  background-image: url(../images/catolog/filter/filter-backgroung.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
padding: 35px 70px 70px;
  color: #ffffff;
}

.header-breadcrubs-item{
  position: relative;
  margin-right: 28px;
}

.header-breadcrubs-item::after {
  content: "";
  background-image: url("../images/catolog/filter/arrow-right.svg");
  position: absolute;
  width: 8px;
  height: 11px;
  display: block;
  top: 5px;
  right: -18px;
  bottom: 5px;
}

.header-breadcrubs-item:last-child::after {
  content: none;
}

.catalog-form-filter {
  display: flex;
  margin-top: 40px;
}

.hotel-catolog {
  padding: 0 70px;
}

.hotel-catolog a {
  text-decoration: none;
}

.catolog {
  padding: 0 70px;

  padding-top: 50px;
  padding-bottom: 60px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;

}
.hotel-card-wrapper{
  display: grid;
grid-template-columns: repeat(2, 1fr);
row-gap: 16px;
column-gap: 19px;
}
.hotel-card-image{
  width: 100%;
object-fit: cover;
}
.hotel-card-price{
  text-align: right;
}

.catolog-main-filter .catalog-price-form {
  margin-left: 82px;
  margin-right: 50px;

}

.catolog-main-coniner {
  color: #ffffff;
}

.catolog-main-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.header-breadcrubs-list {
  display: flex;
  margin: 0;
  margin-top: 7px;
}

.header-breadcrubs-link {
  font-size: 16px;
}

.catalog-form-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 16px;
}
.catalog-filter-item {
  margin: 16px 0 16px 0;
}
.catalog-filter-list {
  margin: 0;
}
.catalog-filter-item:last-child {
  margin: 0;
}
.check-box {
  line-height: 23px;
  margin-left: 10px;
}

.custom-radio {
  line-height: 23px;
}

.catalog-buttons {
  text-align: center;
  text-transform: uppercase;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.active_bottom {
  background-color: #7db54f;
}

.show-button {
  text-align: center;
  text-transform: uppercase;
  gap: 8px;

  display: flex;
}


.catalog-buttons button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
}

.catalog-form-filter-group {
  margin-right: 70px;
  border: 0;
  padding: 0;
  margin-left: 0;
}

.catalog-sorting-wrapper {
  display: flex;
  padding: 0 70px;
  margin-bottom: 40px;
  align-items: center;
}

.catalog-hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.hotel-image{
  margin: 0;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 14px 0;
}

.hotel-card-button-more {
  background: #756157;
  border-radius: 4px;
  padding: 8px 26px;
  text-align: center;
  text-transform: uppercase;
  margin-left: -1px;
  margin-right: 1px;
  margin-top: 1px;


}

.hotel-card-button-favourites{
  text-align: center;
  text-transform: uppercase;
margin-top: 1px;

}

.rating-text {
  background: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  width: 140px;
  height: 37px;
}

.select-control {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 11px 18px;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
  background: #ffffff;
  background-image: url(../images/catolog/filter/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
font: inherit;
}

.select-control:hover{
  border: 2px solid #68A2CA;
}

.select-control:focus{
  border: 2px solid #68A2CA;
}

.select-control:disabled{
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.show-button-link {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-button-link:hover{
  border: 2px solid #000000;
}

.show-button-link:focus{
  border: 2px solid #68A2CA;
}
.show-button-link:active{
  border: 2px solid #000000;
}
.show-button-link.active {
  border: 2px solid #000000;
}

.catalog-button-link {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-button-link.active {
  border: 2px solid #000000;
}

.pagination-container {
  margin-top: 40px;
  border-top: 1px solid #e6e6e6;
}




  .hotel-card-button-favourites:focus:not(.active){
    background: #68A2CA;
  }
  .hotel-card-button-favourites:active:not(.active){
    background: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
  }
  .hotel-card-button-favourites:hover:not(.active){
    background: #68A2CA;
  }


.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  gap: 8px;
  margin: 40px 0 60px 0;
}

.hotel-item {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.pagination-item a {
  border-radius: 4px;
  width: 60px;
  height: 60px;
  display: block;
  padding: 10px;
  text-align: center;
}

.bt-reset {
  background: none;
}

.bt-reset:active{
  color: rgba(255, 255, 255, 0.3);
}

.bt-reset:hover{
  color: rgba(255, 255, 255, 0.6);
}

.pagination-link.active {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
}

.pagination-link:hover:not(.active){
  background: #68A2CA;
}

.pagination-link:focus:not(.active){
  background: #68A2CA;
}
.pagination-link:active:not(.active){
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  color: rgb(255, 255, 255);
  background-color: #82b3d3;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}
.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
border-radius: 30px;

}
.modal-title {
  font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
margin: 0;
margin-bottom: 64px;
}
.modal-serch{
width: 717px;
}

.model-date-title{
  padding: 12px 0;
  text-transform: capitalize;
}

.model-date-title-people{
  padding: 13px 0;
  text-transform: capitalize;
}

.modal-content{
  position: relative;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 2px;
  right: -18px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius:50%;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.visit-date-options,
.people-options {
  border: none;
  margin: 0;
  padding: 0;
}
.date-field{
  background: #F2F2F2;
border-radius: 4px;
border: none;
display: block;
width: 100%;
position: relative;
}

.modal-serch-date{
  position: relative;
}

.modal-serch-date svg{
  position: absolute;
  fill-opacity: 0.3;
  right: 22px;
  top: 16px;
}


.date-form-sub{
  color: #FF5757;
  font-weight: 400;
font-size: 16px;
line-height: 21px;
padding-left: 20px;

}


.people-form-sub{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;

  padding-left: 20px;

}
.date-form{
  font-weight: 700;
font-size: 20px;
line-height: 24px;
display: grid;
grid-template-columns: 137px 1fr;
}

.field{
  padding: 12px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: 'PT Sans';
}

.leave-date{
  margin-top: 24px;
}
.adults-label, .children-label{
  font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.number-field{
  display: block;
  width: 11px;
  background: #F2F2F2;
  border: none;
  appearance: none;
}
.wrapper-people-date{
  display: flex;
}

.people-form{
  margin-top: 23px;
  margin-bottom: 45px;
}
.tooltip {
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 11px;
  margin-right: 46px;
  transform: translateY(46%);
}

.tooltip-toggle {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
}

.tooltip-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #333333;
  box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
  border-radius: 10px;
  padding: 20px 18px 23px 22px;
  z-index: 1;
  display: none;
  position: absolute;
  width: 256px;
  left: 47%;
  transform: translateX(-50%);
}
.tooltip-text::before {
  content:'';
  background-image: url("../images/modal/arrow-down.svg");
  width: 19px;
  height: 9px;
  position:absolute;

  top: -6%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.children-label{
  margin-left: 88px;
}

.button-search{
  width: 100%;
  font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
margin: 0 auto;
border-radius: 10px;
padding:18px 0;
}
.button-minus{
  position: absolute;
  width: 40px;
height: 48px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 14px 10px;
background: #F2F2F2;
border: none;
border-radius: 4px 0 0 4px;
left: 0;
line-height: 14px;
color: rgba(117, 97, 87, 0.3);
cursor: pointer;
}
.button-plus{
  right: 0;
  position: absolute;
  width: 40px;
height: 48px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 14px 10px;
background: #F2F2F2;
border: none;
border-radius: 0 4px 4px 0;
color: rgba(117, 97, 87, 0.3);
line-height: 14px;
cursor: pointer;
}
.wrapper-number-field{
  display: flex;
  position: relative;
}
.wrapper-number-field input[type="number"] {
	display: block;
	font-weight: 700;
font-size: 18px;
line-height: 20px;
height: 48px;
	width: 110px;
	padding: 14px 20px;
	margin: 0;
  border-radius:  4px ;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
.wrapper-number-field input[type="number"]::-webkit-outer-spin-button,
.wrapper-number-field input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
