@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  padding: 0 40px;
  background: #f2f2f2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.page-header {
  color: #000000;
}

.page-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.page-navigation-link {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
}

.popup {
  background: #756157;
  font-weight: 700;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.sedona-welcome {
  background-image: url(../images/index/hero/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
}

.about-sedona {
  text-align: center;
}

.about-sedona-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.about-sedona-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.benefit {
  text-align: center;
}

.benefit-item:nth-child(4n + 1) {
  color: #ffffff;
  background-color: #82b3d3;
}

.benefit-item:nth-child(2n) {
  background: rgba(131, 179, 211, 0.12);
}

.benefit-item:nth-child(3n) {
  background: rgba(131, 179, 211, 0.2);
}

.benefit-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.list-none {
  list-style-type: none;
  padding-left: 0;
}

.services {
  text-align: center;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.services-item:nth-child(2n + 1) {
  background: rgba(131, 179, 211, 0.12);
}

.trip-date-sedona {
  text-align: center;
}

.trip-date-sedona-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.trip-date-sedona-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
  background-image: url(../images/footer/subscribe/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  text-align: center;
}

.subscribe-catolog {
  text-align: center;
}

.subscribe-catolog-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.subscribe-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.trip-date-sedona-link {
  font-size: 20px;
  line-height: 36px;
}

.page-footer a {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-form-button {
  color: #ffffff;
  background-color: RGB(130, 179, 211);
  font-size: 20px;
  line-height: 36px;
  border: none;
  text-transform: uppercase;
}

.subscribe-form-text {
  background-color: RGB(242, 242, 242);
  border: none;
}

.catolog-main-coniner {
  background-image: url(../images/catolog/filter/filter-backgroung.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

fieldset {
  border: 0 none;
}

.hotel-catolog a {
  text-decoration: none;
}

.catolog-main-coniner {
  color: #ffffff;
}

.catolog-main-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.header-breadcrubs-link {
  font-size: 16px;
}

.catalog-form-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.check-box {
  line-height: 23px;
}

.custom-radio {
  line-height: 23px;
}

.catalog-buttons {
  text-align: center;
  text-transform: uppercase;
}

.catalog-buttons a {
  color: #ffffff;
}

.hotel-card-button-favourites {
  background: #82b3d3;
  border-radius: 4px;
}

.catalog-hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-button-more {
  background: #756157;
  border-radius: 4px;
}

.rating-text {
  background: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.select-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.catalog-button-link {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 12px;
}
.catalog-button-link.active {
  border: 2px solid #000000;
}


.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}


.hotel-item {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}


.pagination-link.active {
  background-color: RGB(242, 242, 242);
  color: rgb(0, 0, 0);
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
 }
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
